/*　モバイル向けレイアウト */
@media all and (max-width: 670px) {

.header-menu {
  width: 100%;
}

.main-wrapper {
  width: 100%;
  margin: 100px auto 0;
}

.item {
  float: left;
  width: 220px;
  text-align: center;
  position: relative;
  vertical-align:middle;
  margin: 0 0 20px 20px;
}


/* items  wrapper end */

}



