/*　モバイル向けレイアウト */
@media all and (max-width: 670px) {

.header-menu {
  width: 100%;
}

.main-wrapper {
  width: 100%;
  margin: 100px auto 0;
}

.item {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
  vertical-align:middle;
  margin: 0 0 20px 0;
}

.item_pic img {
  max-width: 80%;
  max-height: 220px;
  /* width: auto; */
  /* height: auto; */
  vertical-align:middle;
}

.item_name {
  font-size:14px;
  overflow: hidden;
  padding: 10px 0;
  width: 50%;
  height: 30px;
}
/* items  wrapper end */

}



