* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.container {
  margin: 0 auto;
}


header {
  height: 50px;
  position :fixed;
  width: 100%;                /* 横幅100%　*/
  top: 0px;                   /* 位置(上0px) */
  left: 0px;
  z-index: 10;
  background-color: rgba(255,255,255,1);
}

/*floatのクリア*/
header:after {
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

h1 {
  margin: 0;
  padding: 0;
}

 .slicknav_menu {
  display:none;
}

.header-top {
  width: 1020px;
  margin: 0 auto;
}

.header-left {
  float: left;
}

.logo {
  height:30px;
}

.header-right {
  float: right;
  z-index: 100;
}

.header-right li {
  float: left;
  list-style: none;
  box-sizing: border-box;
  padding:10px 0;
}

.header-right li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 3px 10px;
  border-bottom: 2px transparent solid;
}

.header-right li a:hover {
  color:black;
  /*background-color: #212121;*/
  border-bottom: 2px #E94036  solid;
  transition:2s;
}

.alert.alert-success {
  background-color: #CCFFCC;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #008000;
}

.alert.alert-error {
  background-color: #FFCCCC;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: red;
}
/*header end*/

.carousel-wrapper {
  height:400px;
  background: url(../structure/background1.png);
  color: white;
  margin: 0 auto 20px;
  text-align: center;
}

.carousel-wrapper .inner {
    padding-top: 225px;
    /* padding-bottom: 150px; */
    background-color: rgba(0, 0, 0, 0.6);
}


.carousel-wrapper .inner p {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 400;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s;
}

a.btn {
text-decoration: none ;
}

.btn:hover {
  color: #fff;
}

.btn-top-white {
  background: rgba(250, 250, 250, 0.06);
  border: 1px solid rgba(250, 250, 250, 0.15);
  color: rgba(250, 250, 250, 0.9);
}

.btn-top-white:hover {
  border: 1px solid rgba(250, 250, 250, 0.8);
}





/*carousel-wrapper end*/

.service-wrapper {
  width: 1020px;
  margin: 0 auto 200px;

}

.service-wrapper h2, .company-wrapper h2, .inquery-wrapper h2 {
  text-align: center;
  font-size: 30px;
}



/*modal*/
.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.modal p {
  padding: 20px;

}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

/*modal end*/

.contents {
  margin: 0 auto;
  width:980px;
}

.contents:after {
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

.content {
  float: left;
  width: 33%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.content .curled-box {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: #f5f5f5;
  z-index: 4;
  position: relative;
  margin: auto;
}

.content .tech {
  background-color: #EEEEEE;
  transition: 0.5s ;
}


.content .curled-inner {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-color: white;
  z-index: 5;
  position: absolute;
  top: 15px;
  left: 15px;

}
.content .tech .curled-inner.s1 {
  background-image: url(../structure/content1.jpg);
  background-position: 20px 20px;
}


.content .tech .curled-inner.s2 {
  background-image: url(../structure/content2.jpg);
  background-position: 20px 20px;
}


.content .tech .curled-inner.s3 {
  background-image: url(../structure/content3.jpg);
  background-position: 20px 20px;
}


.content .tech .curled-inner.ama {
  background-image: url(../structure/content1.jpg);
  background-position: 20px 20px;
}

.content .tech .curled-inner.gmaps {
  background-image: url(../structure/gmaps.jpg);
  background-position: 20px 20px;
}

.content .tech .curled-inner.rss {
  background-image: url(../structure/rss.jpg);
  background-position: 20px 20px;
}

.content .tech .curled-inner.mail {
  background-image: url(../structure/mail.png);
  background-position: 20px 20px;
}

.content .tech .curled-inner.pref {
  background-image: url(../structure/pref.png);
  background-position: 20px 20px;
}

.content .tech .curled-inner.auto {
  background-image: url(../structure/auto.jpg);
  background-position: 20px 20px;
}


.content h3 {
  margin-top: 20px;
}

.content h3  {
  font-size: 20px;
  padding-bottom: 3px;
  /* border-bottom: 3px solid #000; */
}

.content p {
 padding: 10px 10px;
}


/*.service-wrapper end */

.company-wrapper {
  width: 1020px;
  margin: 0 auto 200px;
}

.company-wrapper table {
  margin: 0 auto;
}

.company-wrapper tr {

}

/*.company-wrapper th {
  border-bottom: 1px solid #c0c0c0;
}*/

.company-wrapper td {
  padding: 15px;
  border-bottom: 1px solid #c0c0c0;
}

.table_title {
  width: 100px;
}

.table_detail {
  width: 450px;
}


/*company-wrapper end*/

.inquery-wrapper {
  height:450px;
  /*background: url(../structure/fotolia_116946540.jpg)no-repeat;*/
  background: url(../structure/inq2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*background-color: black;*/
}

.inquery-wrapper h2 {
  color: white;
}

form {
  color: white;
  width: 700px;
  margin: 0 auto;
}

.input {
  /*border: 1px solid #212121;*/
  background-color: white;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
}

textarea {
  margin-top: 20px;
  width: 650px;
  height:200px;
}

.submit {
  padding: 10px 100px;
  color: white;
  display: block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  background-color: gray;
  margin: auto 10px;
  cursor:pointer;
}

.submit:hover {
    opacity: 1;
}


/*inquery end*/


/*main end*/
footer {
  height:100px;
  background-color: #212121;
  color: white;

}

.footer-nav {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.footer-nav:after {
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

/*.footer-nav li {
  float:left;
  list-style: none;
}

.footer-nav li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 3px 10px;
  color: white;
}

.footer-nav li a:hover {
  color: #c0c0c0;
}*/

.footer-nav  a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 3px 15px;
  color: white;
  font-weight:bold;
  opacity:0.7;
}

.footer-nav  a:hover {
  color: white;
  opacity:1;
}

/*footr end*/

.clear-fix {
  clear:both;
}


#company, #service, #technology, #inquery { /*jquery 高さ調整用*/
  margin-top:-50px;
  padding-top:50px;
}




 
